body{
    font-family: 'Baloo Tammudu 2', cursive;
    color: aliceblue;
    background-color: rgb(73, 71, 71);
    text-align: center;
    padding: 40px;
    word-wrap: break-word;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WalletInfo{
    width: 500px
}

.Block{
    padding: 10px;
    border: 2px solid rgb(230, 224, 213);
    margin: 5px;
    width: auto;
}

.ConductTransaction{
    margin: auto;
    width: 50%;
}
